@page
@model EntApp2.Pages.ws1BModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ws1B</title>
</head>
<body>
    <form method="post" style="border:solid 1px; border-color :blue;  border-radius:10px; padding:5px; width:600px;">
        <label asp-for=N1>N1</label>
        <input asp-for=N1 />
        <label asp-for=N2>N2</label>
        <input asp-for=N2 />
        <button type="submit"> Execute</button><br />
        <input type="radio" name="operation" value="add" />Add
        <input type="radio" name="operation" value="sub"  style="margin-left:100px;"/>Substract
        <input type="radio" name="operation" value="mul"  style="margin-left:100px;"/>Multiply
        <input type="radio" name="operation" value="div"  style="margin-left:100px;"/>Divide
        <h2>@Model.Message</h2>
    </form>
</body>
</html>
